@btn-prefix-cls: ~'sr-btn';

// Skeleton for creating regular, large, small etc. buttons
.button-size(@padding-top; @padding-right; @font-size; @border-radius) {
  padding: @padding-top @padding-right;
  font-size: @font-size;
  border-radius: @border-radius;
}

// Skeleton for like primary, secondary etc
.button-variant(@background; @color; @border) {
  background: @background;
  color: @color;
  border: 1px solid @border;
}

// btn-group based on it
.button-group-base(@btnClassName) {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .@{btnClassName} {
    position: relative;
    float: left;
    //&:focus,
    &:hover,
    &:active,
    &.active {
      z-index: 2;
    }
  }

  // Button with only icon inside group
  & .@{btnClassName}-icon-only {
    letter-spacing: normal;
    padding: 0.5rem 0;
    text-align: center;
    width: 2.5rem;
    & > i[class^='fa'] {
      margin: 0;
    }
  }

  // sizes inside group
  &-large {
    & > .@{btnClassName} {
      .button-size(@sizes-16; @sizes-16; @textSizes-20; @sizes-4);

      line-height: 2rem;
    }
  }

  &-small {
    & > .@{btnClassName} {
      .button-size(@sizes-4; @sizes-16; @textSizes-16; @sizes-4);
    }
  }

  &-extra-small {
    & > .@{btnClassName} {
      .button-size(0; @sizes-12; @textSizes-14; @sizes-4);
    }
  }
}

.btn-group(@btnClassName: @btn-prefix-cls) {
  .button-group-base(@btnClassName);

  .@{btnClassName}:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .@{btnClassName}:not(:last-child) {
    margin-right: 0;
  }

  &:not(&-vertical) > .@{btnClassName}:first-child {
    margin-left: 0;
    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &:not(&-vertical) > .@{btnClassName}:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & > & {
    float: left;
  }

  & > &:not(:first-child):not(:last-child) > .@{btnClassName} {
    border-radius: 0;
  }

  &:not(&-vertical) > &:first-child:not(:last-child) {
    > .@{btnClassName}:last-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      padding-right: @sizes-8;
    }
  }

  &:not(&-vertical) > &:last-child:not(:first-child) > .@{btnClassName}:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: @sizes-8;
  }
}

// Used by richtext?
.active-btn-color(@color) {
  &:focus {
    box-shadow: 0 0 0 2px fade(@color, 75%);
  }
}

// base sr-btn class
.@{btn-prefix-cls} {
  display: inline-block;
  margin-bottom: @sizes-8;
  margin-right: @sizes-8;
  font-weight: @fontWeights-semibold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  line-height: 1.5rem;
  user-select: none;

  .button-size(@sizes-8; @sizes-16; @textSizes-16; @sizes-4); //normal size

  transition: color @transition-time linear, background-color @transition-time linear, box-shadow @transition-time linear;

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    > * {
      pointer-events: none;
    }
  }

  // Sizes
  &-large {
    .button-size(@sizes-16; @sizes-16; @textSizes-20; @sizes-4);

    line-height: 1.2rem;
  }

  &-small {
    .button-size(@sizes-4; @sizes-16; @textSizes-16; @sizes-4);
  }

  &-extra-small {
    .button-size(0; @sizes-12; @textSizes-14; @sizes-4);
  }

  // Primary button variant
  &-primary {
    .button-variant(@colors-p500; @colors-dark100; @colors-p500);

    &:hover {
      .button-variant(@colors-p300; @colors-dark100; @colors-p500);
    }

    &:focus {
      .button-variant(@colors-p700; @colors-dark100; @colors-p700);
    }

    &:disabled {
      .button-variant(@colors-p100; @colors-dark50; @colors-p700);
    }
  }

  // Secondary button variant
  &-secondary {
    .button-variant(@colors-s200; @colors-s900; @colors-s600);

    &:hover {
      .button-variant(@colors-s300; @colors-s900; @colors-s600);
    }

    &:focus {
      .button-variant(@colors-s400; @colors-s900; @colors-s600);
    }

    &:disabled {
      .button-variant(@colors-s400; @colors-dark50; @colors-s600);
    }
  }

  // Danger button variant
  &-danger {
    .button-variant(@colors-danger600; @colors-light100; @colors-danger600);

    &:hover {
      .button-variant(@colors-danger500; @colors-light100; @colors-danger600);
    }

    &:focus {
      .button-variant(@colors-danger600; @colors-light100; @colors-danger600);
    }

    &:disabled {
      .button-variant(@colors-danger400; @colors-dark50; @colors-danger600);
    }
  }

  &-icon-only {
    letter-spacing: normal;
    padding: @sizes-8;
    text-align: center;
    width: @sizes-40;
  }

  &-icon {
    padding-left: 0.5rem;
    & > span {
      padding-left: 0.25rem;
    }
    &-right {
      padding-right: 0.5rem;
      & > span {
        padding-right: 0.25rem;
      }
    }
  }

  &-group {
    .btn-group(@btn-prefix-cls);
  }
}
