@import './colors';

// Prefix
@css-prefix : byx-;

/*
 *  BASES
 */

// Colors
@color-text: @color-dark100;
@color-body-background: @color-s200;
@color-html-background: @color-p500;
@color-border: @color-s500;
@color-link: @color-a500;
@color-link-hover: @color-a300;
@color-link-active: @color-a700;
@color-error: @color-danger-dark;

// Typography
@font-family:         'Inter UI', sans-serif;
@font-family-header:  'Corben', serif;
@font-family-code:    monospace;
@font-weight-lighter: 200;
@font-weight-light:   300;
@font-weight-normal:  400;
@font-weight-bold:    600;
@font-weight-bolder:  800;
@line-height-normal:  1.5rem;

// Radius
@radius-normal: .25rem;
@radius-big:    .5rem;

// Shadows
@shadow-small: 0px 2px 12px fade(@color-dark100, 6%), 0px 1px 2px fade(@color-dark100, 6%);

// Animation
@animation-time : .3s;
@transition-time : .2s;
@ease-in-out : ease-in-out;


/*
 *  COMPONENTS
 */

// Button
@btn-font-weight : @font-weight-bolder;
@btn-padding-base : 0.5rem calc(1rem - 0.1em) 0.5rem 1rem;
@btn-padding-large : 0.5rem calc(1.5rem - 0.1em) 0.5rem 1.5rem;
@btn-padding-small : 0.25rem calc(1rem - 0.1em) 0.25rem 1rem;
@btn-font-size : 1rem;
@btn-font-size-large : 1.25rem;
@btn-border-radius : @radius-normal;

@btn-disable-color : @color-s500;
@btn-disable-bg : @color-s300;

@btn-default-color : @color-dark75;
@btn-default-bg : @color-s400;

@btn-primary-color : @color-dark75;
@btn-primary-bg : @color-p500;

// Input
@input-height-base : 32px;
@input-height-large : 36px;
@input-height-small : 24px;

@input-padding-horizontal : 7px;
@input-padding-vertical-base : 4px;
@input-padding-vertical-small: 1px;
@input-padding-vertical-large: 6px;

@input-placeholder-color : @color-s300;
@input-color : @color-dark100;
@input-border-color : @color-border;
@input-bg : @color-s0;

@input-hover-border-color : @color-p500;
@input-focus-border-color : @color-p500;
@input-disabled-bg : @color-s200;
