@import './colors';

// Prefix
@css-prefix: byx-;

/*
 *  BASES
 */

// Colors
@color-text: @color-dark100;
@color-body-background: @color-s200;
@color-html-background: @color-p500;
@color-border: @color-s500;
@color-link: @color-a500;
@color-link-hover: @color-a300;
@color-link-active: @color-a700;
@color-error: @color-danger600;

// Typography
@font-family: 'Inter UI', sans-serif;
@font-family-header: 'Corben', serif;
@font-family-code: monospace;
@font-weight-lighter: 200;
@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 600;
@font-weight-bolder: 800;
@line-height-normal: 1.5rem;

// TextSizes
@textSizes-11: 0.707rem;
@textSizes-14: 0.871rem;
@textSizes-16: 1rem;
@textSizes-22: 1.414rem;
@textSizes-32: 2rem;
@textSizes-45: 2.828rem;
@textSizes-64: 4rem;

// FontWeights
@fontWeights-hairline: 100;
@fontWeights-thin: 200;
@fontWeights-light: 300;
@fontWeights-normal: 400;
@fontWeights-medium: 500;
@fontWeights-semibold: 600;
@fontWeights-bold: 700;
@fontWeights-extrabold: 800;
@fontWeights-black: 900;

// Borders
@border-color-base: @color-s500;

// Radius
@radius-normal: 0.25rem;
@radius-big: 0.5rem;
@radius-rounded: 0.75rem;
@rounded-default: .25rem;

// Sizes
@sizes-4: 0.25rem;
@sizes-8: 0.5rem;
@sizes-12: 0.75rem;
@sizes-16: 1rem;
@sizes-24: 1.5rem;
@sizes-32: 2rem;
@sizes-40: 2.5rem;
@sizes-48: 3rem;
@sizes-56: 3.5rem;
@sizes-64: 4rem;
@sizes-auto: auto;

// Shadows
@shadow-small: 0 2px 12px fade(@color-dark100, 6%), 0 1px 2px fade(@color-dark100, 6%);
@shadows-default: 0 2px 12px rgba(36, 28, 25, 0.06), 0 1px 2px rgba(36, 28, 25, 0.06);

// Animation
@animation-time: 0.3s;
@transition-time: 0.2s;
@ease-in-out: ease-in-out;

/*
 *  COMPONENTS
 */

// Button
@btn-font-weight: @font-weight-bolder;
@btn-padding-base: 0.5rem calc(1rem - 0.1em) 0.5rem 1rem;
@btn-padding-large: 0.5rem calc(1.5rem - 0.1em) 0.5rem 1.5rem;
@btn-padding-small: 0.25rem calc(1rem - 0.1em) 0.25rem 1rem;
@btn-font-size: 1rem;
@btn-font-size-large: 1.25rem;
@btn-border-radius: @radius-normal;

@btn-disable-color: @color-s500;
@btn-disable-bg: @color-s300;

@btn-default-color: @color-dark75;
@btn-default-bg: @color-s400;

@btn-primary-color: @color-dark75;
@btn-primary-bg: @color-p500;

// Input
@input-height-small: 24px;
@input-height-base: 2.5rem;
@input-height-large: 36px;

@input-padding-horizontal: 7px;
@input-padding-vertical-base: 4px;
@input-padding-vertical-small: 1px;
@input-padding-vertical-large: 6px;

@input-placeholder-color: @color-dark30;
@input-color: @color-dark100;
@input-border-color: @color-border;
@input-bg: @color-s0;

@input-hover-border-color: @color-p500;
@input-focus-border-color: @color-p500;
@input-disabled-bg: @color-s200;

// Tag
@tag-bg: @color-s600;
@tag-font-size: 0.875rem;
