@import './colors';

// Prefix
@css-prefix: byx-;

/*
 *  BASES
 */

// sizes

@sizes-4: 0.25rem;
@sizes-8: 0.5rem;
@sizes-12: 0.75rem;
@sizes-16: 1rem;
@sizes-24: 1.5rem;
@sizes-32: 2rem;
@sizes-40: 2.5rem;
@sizes-48: 3rem;
@sizes-56: 3.5rem;
@sizes-64: 4rem;
@sizes-auto: auto;

// Colors
@color-text: @colors-dark100;
@color-body-background: @colors-s200;
@color-html-background: @colors-p500;
@color-border: @colors-s500;
@color-link: @colors-a500;
@color-link-hover: @colors-a300;
@color-link-active: @colors-a700;
@color-error: @color-danger-dark;

// Typography
@font-family: 'Inter UI', sans-serif;
@font-family-header: 'Corben', serif;
@font-family-code: monospace;

@fontWeights-thin: 200;
@fontWeights-light: 300;
@fontWeights-normal: 400;
@fontWeights-semibold: 600;
@fontWeights-extrabold: 800;
@line-height-normal: 1.5rem;

// Borders
@border-color-base: @colors-s500;

// Radius
@radius-normal: 0.25rem;
@radius-big: 0.5rem;
@radius-rounded: 0.75rem;

// Shadows
@shadow-small: 0 2px 12px fade(@colors-dark100, 6%), 0 1px 2px fade(@colors-dark100, 6%);

// Animation
@animation-time: 0.3s;
@transition-time: 0.2s;
@ease-in-out: ease-in-out;

/*
 *  COMPONENTS
 */

// Button
@btn-font-weight: @fontWeights-semibold; //changed according to Stora Rör

@btn-padding-base: 0.5rem calc(1rem - 0.1em) 0.5rem 1rem;
@btn-padding-large: 0.5rem calc(1.5rem - 0.1em) 0.5rem 1.5rem;
@btn-padding-small: 0.25rem calc(1rem - 0.1em) 0.25rem 1rem;
@btn-padding-extra-small: 0 calc(0.75rem - 0.1em) 0 0.75rem; //added from Stora Rör

@textSizes-14: 0.871rem;
@textSizes-16: 1rem;
@textSizes-20: 1.25rem;

@btn-border-radius: @radius-normal;

@btn-disable-color: @colors-s500;
@btn-disable-bg: @colors-s300;

@btn-default-color: @colors-dark75;
@btn-default-bg: @colors-s400;

@btn-primary-color: @colors-dark75;
@btn-primary-bg: @colors-p500;

// Input
@input-height-small: 24px;
@input-height-base: 2.5rem;
@input-height-large: 36px;

@input-padding-horizontal: 7px;
@input-padding-vertical-base: 4px;
@input-padding-vertical-small: 1px;
@input-padding-vertical-large: 6px;

@input-placeholder-color: @colors-dark30;
@input-color: @colors-dark100;
@input-border-color: @color-border;
@input-bg: @colors-s0;

@input-hover-border-color: @colors-p500;
@input-focus-border-color: @colors-p500;
@input-disabled-bg: @colors-s200;

// Tag
@tag-border-radius: @radius-rounded;
@tag-bg: @colors-s600;
@tag-font-size: 0.85rem;
